# 如果要從更高的目錄繼承 .editorconfig 設定，請移除以下行
root = true

# 所有檔案
[*]

# json 檔案
[*.json]
charset = utf-8-bom

# cshtml 檔案
[*.cshtml]
charset = utf-8-bom

# C# 檔案
[*.cs]
charset = utf-8-bom

#### 核心 EditorConfig 選項 ####

# 縮排和間距
indent_size = 4
indent_style = space
tab_width = 4

# 新行喜好設定
end_of_line = crlf
insert_final_newline = false
